.tamanio_carrusel{
    display: flex;
    justify-content: center;
    
    h5{
        margin-bottom: 45px;
    }
}
    .carousel-indicators{

        li{
            @include fotos_carrusel(2px,10px,10px,50%)
        }
    }