.contenido{
    h2{
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        color: rgb(202, 200, 200);
        text-transform: uppercase;
        letter-spacing: 2px;
        word-spacing: 3px;
    }
    .box_formulario{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 40px;
                
        #form_contact{
                    display: flex;
                    flex-direction: column;

                .name{
                    @include formulario_contacto;
                    margin-bottom: 3px;
                }

                .email{
                    @include formulario_contacto;
                    margin-bottom: 3px;
                }
                
                .mensaje{
                    resize: none;
                    @include formulario_contacto;
                    margin-bottom: 3px;
                }
                .boton_contacto{
                    @include boton_entrada_contacto;
                    position: relative;
                    
                        
                }
        }
    }
}

.contenido{
    .box_formulario{
        #form_contact{
            .name:hover{
                @include formulario_efecto;
            }
            .email:hover{
                @include formulario_efecto;
            }
            .mensaje:hover{
                @include formulario_efecto;
            }
            .boton_contacto:hover{
                @include boton_entrada_contacto_efecto;
            }
        }
    }
}