.pruebaBEM__conciertos{
    div{
        .pruebaBEM__conciertos--titulo{
            font-size: 2.5rem;
            font-weight: bold;
            text-align: center;
            color: rgb(202, 200, 200);
            text-transform: uppercase;
            letter-spacing: 2px;
            word-spacing: 3px;
        }
    }
    ul{
        display: flex;
        flex-direction: column;
        margin-left: 200px;
        
        .pruebaBEM__conciertos--fecha{
            padding: 0 0 8rem 10rem;
            margin-top: 25px;
            color: rgb(202, 200, 200);
            font-size: 1.5rem;
            padding: 0 1rem 0 0;
            margin-bottom: 1rem;
            list-style: none;

            h4{
                color: rgb(202, 200, 200);
                font-size: 2rem;
                padding: 1rem 0 0 10rem;
                margin-bottom: 2rem;
            }
        }
        div{
            .pruebaBEM__conciertos--entradas{
                display: inline-block;
                border: rgba(63,14,128,1) solid 1px;
                border-radius: 5px;
                background-color: rgba(63,14,128,1);
                -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                padding: 5px;
                color: rgba(202,200,200, 0911);
                text-decoration: none;
                border-spacing: 1px;
            }
        }
    }
}
.pruebaBEM__conciertos{
    ul{
        div{
            .pruebaBEM__conciertos--entradas:hover{
                transform:scale(0.99);
                background-color: rgb(53, 15, 102);
                -webkit-box-shadow: inset -2px -35px 23px -37px rgba(0,0,0,0.6);
                -moz-box-shadow: inset -2px -35px 23px -37px rgba(0,0,0,0.6);
                box-shadow: inset -2px -35px 23px -37px rgba(0,0,0,0.6);
            }
        }
    }
}