.conciertos{
    div{
        div{
            div{
                h2{
                    @include segmento_titulo;
                }
            }
            ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .titulo_concierto{
                                    h4{
                                        color: rgb(202, 200, 200);
                                        font-size: 2rem;
                                        margin: 50px 0;
                                    }
                }

                .fecha{
                        display: flex;
                        flex-direction: column;
                        align-self: start;
                                            p{
                                                margin-left: 250px;
                                                color: rgb(202, 200, 200);
                                                font-size: 1.5rem;
                                                list-style: none;
                                            }
                }
                .entradas{
                        margin-bottom: 50px;
                        .boton_entradas{
                            @include boton_entrada_contacto;

                           
                        }
                        
                        }
                    }
            }
        }
    }
.conciertos{
    ul{
        .entradas{
            .boton_entradas:hover{
                @include boton_entrada_contacto_efecto;
            }
            
    }
}
}