

footer{
    background-color: $color-fondo;
    background: -moz-linear-gradient(top, rgba(15,14,14,1) 0%, rgba(15,14,14,1) 22%, rgba(63,14,128,1) 80%, rgba(63,14,128,1) 83%, rgba(63,14,128,1) 91%, rgba(63,14,128,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(15,14,14,1)), color-stop(22%, rgba(15,14,14,1)), color-stop(80%, rgba(63,14,128,1)), color-stop(83%, rgba(63,14,128,1)), color-stop(91%, rgba(63,14,128,1)), color-stop(100%, rgba(63,14,128,1)));
    background: -webkit-linear-gradient(top, rgba(15,14,14,1) 0%, rgba(15,14,14,1) 22%, rgba(63,14,128,1) 80%, rgba(63,14,128,1) 83%, rgba(63,14,128,1) 91%, rgba(63,14,128,1) 100%);
    background: -o-linear-gradient(top, rgba(15,14,14,1) 0%, rgba(15,14,14,1) 22%, rgba(63,14,128,1) 80%, rgba(63,14,128,1) 83%, rgba(63,14,128,1) 91%, rgba(63,14,128,1) 100%);
    background: -ms-linear-gradient(top, rgba(15,14,14,1) 0%, rgba(15,14,14,1) 22%, rgba(63,14,128,1) 80%, rgba(63,14,128,1) 83%, rgba(63,14,128,1) 91%, rgba(63,14,128,1) 100%);
    background: linear-gradient(to bottom, rgba(15,14,14,1) 0%, rgba(15,14,14,1) 22%, rgba(63,14,128,1) 80%, rgba(63,14,128,1) 83%, rgba(63,14,128,1) 91%, rgba(63,14,128,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0e0e', endColorstr='#3f0e80', GradientType=0 );
   
    .tamanio_footer{
        min-height: calc(100vh - 100px - 360px);
    }
}