.fotos{
     h2{
        @include segmento_titulo;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        li{
            .imagenes{
                background-color:-webkit-box-shadow -15px 14px 16px -11px rgba(63,14,128,1);
                -moz-box-shadow: -15px 14px 16px -11px rgba(63,14,128,1);
                box-shadow: -15px 14px 16px -11px rgba(63,14,128,1);   
                margin: 5px;
            }
        }
    }
}