header{
    .nav_mobile{
        display: none;
    }


.box_menu_titulo{
    display: flex;
    justify-content: center;
    align-items: flex-end;


.menu1{
        
    ul{
        display: flex;

        li{
            @include nav_li;       
           
           a{
            @include nav_li_a;           }
        }
    }
}

.menu2{
    @extend .menu1;
}



.menu1{
    ul{
        li{
            a:hover{
                transform: scale(1.5);
            }
        }
    }
}
}

}