$color-fondo: rgb(15,14,14);
$fuente-principal: "Londrina Solid",cursive;

@mixin segmento_titulo{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(202, 200, 200);
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 3px;
}
